@tailwind base;
@tailwind components;
@tailwind utilities;
/* .container{
  max-width: 1400px !important;
  margin: auto;
} */
@font-face {
  font-family: "IRANSans";
  src: url("../public/fonts/IRANSans(FaNum).ttf");
}
body {
  font-family: "IRANSans" !important;
}
html[lang="fa"] {
  direction: rtl;
  font-family: 'IRANSans';
}
html[lang="en"] {
  direction: ltr;
  font-family: 'Arial';
}